<html>

<style>
    table,th,td{
        border: 1px solid black;
        border-collapse: collapse;
    }
</style>

<header>


</header>


<body>

<h2>Usuario</h2>

<table>

    <tr>
        <th>Nombre</th>
        <th>Correo</th>
        <th>Fecha de Nacimiento</th>
    </tr>
        <tr>
            <td>
                <%= usuario.nombreUsuario%>
            </td>
            <td>
                <%= usuario.correo%>
            </td>
            <td>
                <%= usuario.fechaNacimiento%>
            </td>
        </tr>
</table>

<h2>Roles</h2>

<table>

    <tr>
        <th>Rol</th>
    </tr>


    <% roles.forEach((rol)=> {%>
        <tr>
            <td>
                <%= rol.nombreRol%>
            </td>

            <td>
                <form action="/eliminarRol/<%= rol.nombre%>/<%= usuario.usuarioId%>" method="POST">
                    <button type="submit">Eliminar</button>
                </form>

            </td>
        </tr>
    <%})%>

</table>

<h2> Agregar Roles</h2>



<form action="/agregarRol/ ????" method="post">
    <select id="rolNuevo" onChange="imprimirValor()">
        <option value="1">Usuario</option>
        <option value="2">Administrador</option>
    </select>

    <button type="submit">Agregar</button>

</form>




<script>
    function imprimirValor(){
        var select = document.getElementById("rolNuevo");
        var options=document.getElementsByTagName("option");
        console.log(select.value);
    }
</script>

</body>




</html>