<!DOCTYPE html>

<html>

<header>
    <style>
        table,th,td{
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
</header>

<body>

<h2>Usuario</h2>

<table>

    <tr>
        <th>Nombre</th>
        <th>Correo</th>
        <th>Fecha de Nacimiento</th>
    </tr>
        <tr>
            <td>
                <%= usuario.nombreUsuario%>
            </td>
            <td>
                <%= usuario.correo%>
            </td>
            <td>
                <%= usuario.fechaNacimiento%>
            </td>
        </tr>
</table>

<h2>Roles</h2>

<table>

    <tr>
        <th>Rol</th>
    </tr>

    <% roles.forEach((rol)=> {%>
        <tr>
            <td>
                <%= rol.nombreRol%>
            </td>


            <td>
                <form action="/eliminarRol/<%=usuario.idUsuario%>/<%=rol.idRol%>" method="POST">
                    <button type="submit">Eliminar</button>
                </form>

            </td>
        </tr>
    <%})%>

</table>

<h2> Agregar Roles</h2>


<form action="agregarRol/<%=usuario.idUsuario%>" method="POST">
    <select id="rolNuevo" name="rolNuevo" onChange="imprimirValor()">
        <option value="" disabled selected>Seleccione un rol...</option>
        <% allroles.forEach((rol)=> {%>
            <option value=<%= rol.idRol%>><%= rol.nombreRol%></option>
        <%})%>
    </select>

    <button type="submit">Agregar</button>
</form>



<script>
    function imprimirValor(){
        var select = document.getElementById("rolNuevo");
        /*var options=document.getElementsByTagName("option");
        console.log("ID",select.value);
        console.log("Option",select.innerText);*/
    }
</script>

</body>




</html>